body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header {
    background-color: #004b23; /* FAECTOR green */
    color: white;
    padding: 1em 0;
    text-align: center;
}

.header h1 {
    margin: 0;
}

.main-content {
    flex: 1;
    padding: 2em;
    text-align: center;
}

.main-image {
    max-width: 200px;
    margin: 0 auto 2em;
}

.form-container {
    background-color: white;
    max-width: 400px;
    margin: 2em auto;
    padding: 2em;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.form-container form {
    display: flex;
    flex-direction: column;
}

.form-container label {
    margin-bottom: 0.5em;
}

.form-container input,
.form-container select {
    font: inherit;
    padding: 0.5em;
    margin-bottom: 1em;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.form-container input[type="submit"] {
    background-color: #004b23; /* FAECTOR green */
    color: white;
    padding: 0.5em;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.form-container input[type="submit"]:hover {
    background-color: #003317;
}

.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em 0;
}

